[submodule ".rust-skills"]
	path = .rust-skills
	url = https://github.com/ZhangHanDong/rust-skills.git
[submodule "lib/swap-router-contracts"]
	path = lib/swap-router-contracts
	url = https://github.com/Uniswap/swap-router-contracts